html{
    font-family: Arial,sans-serif;
    background-color: #f0f2f5;
    overflow-x: hidden;
}
h1{
    padding-top: 30px;
    font-weight: 300;
    color:rgb(32, 32, 32);
}
#title {
    position:relative;
    left:5%;
    line-height: 80px;
    color:rgb(153, 153, 153);
    font-size: 30px;
}
#header{
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    height:80px;
    background-color: rgb(32, 32, 32);
}
#content{
    position: relative;
    left:25%;
    top:max(15%,100px);
    height:100%;
    width:max(50%,450px);
    /* background-color:lightblue; */
}
#input{
    position: relative;
    margin-left:13%;
    margin-right: 7%;
    width:290px;
    height:35px;
    border:1px solid rgb(202, 202, 202);
    border-radius: 5    px;
}
#add{
    position:relative;
    width:60px;
    height:35px;
    border-radius:5px;
    border:none;
    background-color:rgba(0, 148, 246, 0.986);
    color:white
}
ul{
    padding-left: 0px;
}
li{
    position: relative;
    font-size: 18px;
    padding-top:20px;
    padding-left:10px;
    width: 100%;
    height:40px;
    border:1px solid rgb(202, 202, 202);
}
input[type="checkbox"]{
    transform: scale(1.5);
    margin-left: 3%;
    margin-right: 10%;
}
li.done{
    text-decoration:line-through;
}
::placeholder{
    padding-left:10px   ;
}